<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1>Lista de Alumnos</h1>
            <p-table [value]="losAlumnos" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15, 20]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Email</th>
                        <th>Operaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alumno>
                    <tr>
                        <td>{{alumno.id}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.paterno}}</td>
                        <td>{{alumno.materno}}</td>
                        <td>{{alumno.email}}</td>
                        <td>
                            <button pButton label="Actualizar" [routerLink]="['/alumnosForm', alumno.id]" [raised]="true" class="button-spacing"></button>
                            <p-toast></p-toast>
                            <p-confirmPopup></p-confirmPopup>
                            <button (click)="confirm2($event, alumno.id)" pButton label="Eliminar" [raised]="true" severity="danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
